

@keyframes animacion-desafio-sass {
    0%{
        background-color: black;
    } 

    15% {
        background-color: rgb(0, 61, 9);
    }

    30% {
        background-color: rgb(0, 105, 16);
    }

    50% {
        background-color: rgb(0, 189, 28);
    }

    70% {
        background-color: rgb(0, 189, 28);
    }

    85% {
        background-color: rgb(0, 105, 16);
    }

    100% {
        background-color: rgb(0, 61, 9);
    }
} 

